<!DOCTYPE html>
<head>

</head>
<body>
  <div class="jumbotron" id="loginContainer" >
    <div class="card" id="loginCard">
      <h6 style="margin-left:40%">Welcome to</h6>
      <h2 style="margin-left:30%">Epic Quotes</h2>
      <p style="margin-left:25%">Enter a Username to begin</p>
      <input type="text" class="form-control" [formControl]="userID" placeholder="Please enter a username" style="width:300px; margin-left:10%">
      <br>
      <BR>
      <button class="btn btn-primary" style="position:relative;width:80px; margin-left:40%;top:30px" (click)="startProgram(true)" [disabled]="userID.invalid">Start</button>
      <div *ngIf="userID.invalid" class="alert alert-danger" style="height:px" style="position:relative;top: 50px">Username is required</div>
    </div>
    <BR>
    <BR>
    <BR>  
  </div>
  <app-quote-input [userID]='userID'*ngIf="initializeQuoteInput"></app-quote-input>  
  <div class="jumbotron" id="quoteDisplayContainer" *ngIf="userID.valid">
    <li id="displayCard" *ngFor='let quoteLibraryDisplay of quoteLibraryDisplay'>
      <div class="card" id="quoteDisplayCard">
       <p id="quoteContent">" {{quoteLibraryDisplay.quoteContent}} "</p>
       <p id="quoteAuthour">{{quoteLibraryDisplay.quoteAuthor}}</p>
       <p id="quoteRating">{{quoteLibraryDisplay.quoteRating}} / 10</p>
       <button class="btn btn-primary" style="position:relative;width:80px;bottom:10%">Like</button>
      </div>
      <BR>
        <BR>
    </li>
  </div>


</body>
