@import'~bootstrap/dist/css/bootstrap.css';
body {
    font-family: sans-serif;
}

#loginContainer{
    background-color:rgb(249, 249, 250);
    width:auto;
    height:400px;
}

#loginCard{
    position:relative;
    top:20px;
    width:400px;
    height:250px;
    margin-left:30%;
}

#quoteDisplayCard{
    position:relative;
    top:20px;
    width:400px;
    height:200px;
    margin-left:30%;
    text-align: center;
}

#quoteContent{
    font-size:18px;
    font-style: italic;

}
#quoteAuthor{
    font-size:15px;
}