<!DOCTYPE html>
<head>

</head>
<body>
  <div class="jumbotron" id="loginContainer" >
    <div class="card" id="loginCard">
      <h6 style="margin-left:40%">Welcome to</h6>
      <h2 style="margin-left:30%">Epic Quotes</h2>
      <p style="margin-left:25%">Enter a Username to begin</p>
      <input type="text" class="form-control" [formControl]="userID" placeholder="Please enter a username" style="width:300px; margin-left:10%">
      <div *ngIf="userID.invalid" class="alert alert-danger">Username is required</div>
      <br>
      <BR>
      <button class="btn btn-primary" style="position:relative;width:80px; margin-left:40%;top:30px" (click)="startProgram()">Start</button>
    </div>
  </div>
<app-quote-input [userID]='userID'></app-quote-input>
</body>